@charset "UTF-8";
/*--------------------*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;800;900&family=Poppins:wght@800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
}

@media (max-height: 767px) {
  .header__body {
    height: 50px;
  }
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

@media (max-width: 767px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
}

@media (max-height: 767px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
}

.header__burger {
  display: none;
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 50%;
    height: auto;
    background: #000000;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.header__menu.active {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .header__list {
    display: block;
  }
}

.header__list li {
  list-style: none;
  margin: 0px 100px 0px 0px;
}

.header__list li:last-child {
  margin: 0px 40px 0px 0px;
}

@media (max-width: 767px) {
  .header__list li {
    margin: 0px 0px 20px 10px;
  }
  .header__list li:last-child {
    margin: 0px 0px 0px 10px;
  }
}

.header__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

@media (max-height: 767px) {
  .header__link {
    font-size: 10px;
  }
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 208px;
  margin: -95px 0px 0px 28px;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  background: url(img/previous.png) 0 0/100% no-repeat;
  left: 0;
  border: 7px solid #96afbb;
  border-radius: 50%;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  background: url(img/next.png) 0 0/100% no-repeat;
  left: 0;
  top: 126px;
  border: 7px solid #96afbb;
  border-radius: 50%;
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 55%;
}

@media (max-width: 992px) {
  .slick-dots {
    top: 60%;
  }
}

.slick-dots li {
  list-style: none;
  visibility: hidden;
}

/* Активная точка */
.slick-dots li.slick-active {
  visibility: unset;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 30px;
  height: 3px;
  background: #ffffff;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.container {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 10px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    min-width: 0px;
  }
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  overflow: hidden;
  width: 100%;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.banner__body {
  position: relative;
  height: 100%;
}

.banner__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}

.banner__inner {
  padding: 370px 0px 150px 0px;
}

.inner-banner {
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner-banner__button {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffae35;
  border: 1px solid #ffae35;
  border-radius: 5px;
  padding: 18.25px 34px 19.26px 34px;
  margin: 0px 0px 150px 0px;
}

.inner-banner__button:hover {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  background: #ffae35;
  padding: 18.25px 34px 19.26px 34px;
  border: 1px solid #ffae35;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.inner-banner__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.3;
  text-align: right;
}

.btn {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffae35;
  border: 1px solid #ffae35;
  border-radius: 5px;
  padding: 18.25px 34px 19.26px 34px;
}

.btn:hover {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  background: #ffae35;
  padding: 18.25px 34px 19.26px 34px;
  border: 1px solid #ffae35;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.better {
  background: #ffae35;
}

.better__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.better__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51%;
          flex: 0 1 51%;
}

.better__column_r {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.better__left {
  position: relative;
}

.better__right {
  text-align: right;
}

.left-better__tittle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -166px;
  top: 61px;
}

.left-better__photo1 {
  position: absolute;
  width: 350px;
  height: 600px;
  top: 87px;
  left: 110px;
  z-index: 10;
}

.left-better__photo2 {
  position: absolute;
  width: 350px;
  height: 250px;
  top: 374px;
  left: 357px;
  z-index: 30;
}

.left-better__photo3 {
  position: absolute;
  width: 388px;
  height: 388px;
  top: 421px;
  left: 0;
  z-index: 20;
}

.right-better__tittle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 87px 0px 204px 0px;
}

.right-better__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 145%;
  letter-spacing: 0.005em;
  color: #000000;
  margin: 0px 0px 80px 0px;
}

.right-better__text_white {
  color: #ffffff;
}

.right-better__text:last-child {
  margin: 0px 0px 137px 0px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.request__body {
  background-color: #000000;
}

.request__form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-request__tittle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: #ffffff;
  padding: 86px 0px 0px 0px;
  margin: 0px 0px 32px 0px;
}

.top-request__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: #ffffff;
  margin: 0px 0px 88px 0px;
}

.tittle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.09em;
  color: #ffffff;
}

.form-request__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 60px;
  margin: 0px 0px 32px 0px;
  padding: 0px 0px 0px 24px;
}

.form-request__button {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffae35;
  padding: 18px 134px 19px 134px;
  border: 3px solid #ffae35;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 44px 0px 88px 0px;
}

.form-request__button:hover {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  background: #ffae35;
  border: 3px solid #ffae35;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.direction__bg {
  background-color: #000000;
}

.direction__tittle {
  padding: 88px 0px 0px 0px;
  margin: 0px 0px 64px 0px;
}

.direction__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-direction_rev .body-direction__column {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
}

.body-direction_rev .body-direction__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.body-direction__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
}

.body-direction__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.body-direction__inner {
  position: relative;
  height: 100%;
  padding: 0px 0px 58.6% 0px;
}

.body-direction__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.body-direction__tittle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.09em;
  color: #ffffff;
  background-color: #000000;
  padding: 26px;
  position: absolute;
  top: 63px;
  left: 0;
}

.body-direction__tittle_q {
  top: 137px;
  max-width: 273px;
}

.body-direction__tittle_w {
  top: 186px;
  max-width: 495px;
  text-align: right;
}

.body-direction__tittle_e {
  top: 177px;
  max-width: 320px;
}

.body-direction__tittle_r {
  top: 227px;
  max-width: 320px;
}

.body-direction__tittle_t {
  top: 243px;
  max-width: 495px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
